@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #EBEBD3;
    --secondary-color: #AAABBC;
    --accent1-color: #087F8C;
    --accent2-color: #011936;

    --heading-font: 'Open Sans', serif;
    --paragraph-font: 'Montserrat', serif;

    --nav-background-color: #087F8C;
    --nav-link-color: #011936;
    --nav-hover-link-color: #6F1A07;
    --nav-hover-background-color: #087F8C;
}

body {
    margin: 0;
    font-family: var(--paragraph-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header {
    background-color: var(--secondary-color);
    padding: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--heading-font);
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero-img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    width: 80%;
}

.hero article img {
    float: right;
    width: 20%;
    margin-left: 10px;
}

.history {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem;
}

.history .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history .content img {
    width: 30%;
    margin: 0 1rem;
}

.adventure {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    width: 150px;
    height: auto;
}

.footer-content {
    background-color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
}

.sociallinks img {
    width: 30px;
    margin: 0 10px;
}
