@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: black;
    --secondary-color: #AAABBC;
    --accent1-color: #087F8C;
    --accent2-color: #011936;

    --heading-font: 'Open Sans', serif;
    --paragraph-font: 'Montserrat', serif;

    --nav-background-color:black;
    --nav-link-color: black;
    --nav-hover-link-color: #6F1A07;
    --nav-hover-background-color: #087F8C;
}

body {
    width: 100%;
    margin: 0;
    font-family: var(--paragraph-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header {
    background-color: var(--secondary-color);
    padding: 1rem;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
}

header .header-container nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--heading-font);
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero-img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    width: 80%;
}

.mission-statement {
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    width: 15%;
}

.hero article img {
    float: right;
    width: 20%;
    margin-left: 10px;
}

.trips-button {
    width: 40%;
    background: olive;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    height: 36px;
}

.contact-button {
    width: 40%;
    background: olive;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    height: 36px;
}

.history {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 2rem;
}

.history .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history .content img {
    width: 30%;
    margin: 0 1rem;
}

.adventure {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: 2rem;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    width: 150px;
    height: auto;
}

.footer-content {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.footer-content p {
    margin: 0;
    text-align: center;
    flex: 1;
}

.footer-link {
    color: #00008B;
}

.sociallinks {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
}

.sociallinks a {
    margin: 0 10px;
}

.sociallinks img {
    width: 30px;
}

.contact-section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-section h1 {
    font-size: 30px;
    color: #333;
}

.contact-section p {
    color: #666;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: lightgray;
    border: 1px solid black;
}

.contact-form-container, .contact-info {
    padding: 12px;
    border: 1px solid black;
}

.contact-form-container {
    flex-grow: 3;
}

.contact-form-container h2, .contact-info h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.contact-form-container p, .contact-info p {
    margin-bottom: 10px;
    color: #666;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 550;
}

.form-group input, .form-group textarea, .form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.message-field {
    grid-column: span 2/ span 2;
}

.form-group textarea {
    width: 95%;
    height: 100px;
}

.radio-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    color: #333;
}

.submit-btn {
    width: 50%;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    height: 36px;
}

.submit-btn:hover {
    background: #555;
}

.contact-info {
    padding-left: 20px;
}
.social-media {
    margin-top: 25px;
}
.social-media a {
    margin-right: 10px;
}

.social-media img {
    width: 30px;
}

.additional-info {
    display: flex;
    margin-top: 20px;
}

.additional-info .map {
    flex: 1;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.lower-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    border: 2px solid black;


}

.employees {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 15px;
}

.employees img {
    width: 200px;
    height: auto;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2,minmax(0, 1fr));
}

figure {
    margin: 0;
    width: min-content;
}

.placeholder {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}



.ads {
    width: 200px;
    height: auto;
    border: 2px solid black;
    background: var(--accent2-color);
    color: white
}
.trip-layout-1, .trip-layout-2 {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-template-rows: auto 1fr auto;
    background: lightgray;
    height: min-content;
    color:#6F1A07
}

.trip-layout-1 img {
    order: -1;
    grid-row-start:1;
    grid-row-end:4;
    grid-column: 1;
    width: 300px;
    align-self: center;
    justify-self: center;
}

.trip-layout-2 img {
    order: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 2;
    width: 300px;
    align-self: center;
    justify-self: center;
}

.trip-layout-3 {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
    background: lightgray;
    height: min-content;
    color:#6F1A07
}

.rafting-trip-cards {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    position: relative;
    justify-content: center;
    margin-top: -30px;
    z-index: 10;
}

.card {
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
    /* width: 350px; */
    background-color: white;
    /* justify-content: center;
    display: flex;
    align-content: center; */
}

.card img {
    width: 300px;
    height: auto;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
    display: flex;
}

.card h2{
    /* width: min-content; */
    text-align: center;
    justify-content: center;
    align-content: center;
}

.sticky-video {
    position: fixed;
    top: 20%;
    right: 5%; 
    width: 300px; 
    z-index: 1000;
}

.newsletter {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin: 40px;
    width: 300px;
}

.newsletter-group {
    margin-bottom: 15px;
}

.newsletter-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.newsletter-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.subscribe-button {
    background-color: #087F8C;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.subscribe-button:hover {
    background-color: #065c66;
}

.calendar {
    float: right;
    margin: 40px;
}

.calendar h3 {
    margin-bottom: 10px;
    color: white;
}

.event {
    margin-bottom: 20px;
}

.event h4 {
    margin-bottom: 5px;
}

.event p {
    margin: 0;
    color: white;
}

.home-news {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}